/doc/
/Meta/
/.Rproj.user/
.Rhistory
src/RcppExports.o
src/kernel_function.o
/tests/testthat/Rplots.pdf
.vscode
.idea
src/kernel_function.gcda
src/kernel_function.gcno
src/QuadratiK.dll
src/RcppExports.gcda
src/RcppExports.gcno
src/QuadratiK.dll
Rplots.pdf
src/QuadratiK.dll
